*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header{
    background-color: #313846;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    color: rgb(255, 255, 255);
}
header a{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px;
    text-decoration: none;
}
header a:hover{
    background-color: #917B49;
}

a{
    text-decoration: none;
}

button{
    padding: 5px;
}

h1{
    color: #000;
    padding: 10px;
}

p{
    color: #000;
    padding: 5px;
}

form{
    color: #000;
    margin: 5px;
}

form p{
    width: 100%;
    display: inline-block;
}

label{
    display: flex;
    flex-direction: column;
}
input{
    border: none;
}
input[type=text], input[type=number], textarea{
    background-color: #EDF2F5;
    margin: 5px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=file]{
    margin: 5px 0;
}
input[type=submit]{
    background-color: #917B49;
    color: #fff;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:active{
    background-color: #453E30;
}

textarea{
    resize: none;
    font-family: inherit;
    padding: 5px;
}

table{
    color: #000;
    padding: 20px 0;
}

th, td{
    width: 100px;
    text-align: center;
}

thead, tbody, td, th{
    padding: 5px;
    border: 1px solid;
    border-collapse: collapse;
}

img{
    width: 300px;
    height: auto;
}

.nbProduit{
    position: absolute;
    right: 25px;
    font-size: 1.17em;
}

.contenu{
    background-color: #fff;
    width: 700px;
    padding: 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}