*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #313846;
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px;
    text-decoration: none;
}
header a:hover{
    background-color: #917B49;
}

a{
    text-decoration: none;
}

button{
    padding: 5px;
}

h1{
    padding: 10px;
}

p{
    padding: 5px;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    float: right;
}
input[type=submit]{
    background-color: rgb(127, 255, 0);
    padding: 5px;
}

textarea{
    resize: none;
    font-family: inherit;
    padding: 5px;
}

table{
    padding: 20px 0;
}

th, td{
    width: 100px;
    text-align: center;
}

thead, tbody, td, th{
    padding: 5px;
    border: 1px solid;
    border-collapse: collapse;
}

img{
    width: 300px;
    height: auto;
}

.nbProduit{
    position: absolute;
    right: 25px;
    font-size: 1.17em;
}

.contenu{
    background-color: rgb(250, 235, 215);
    width: 600px;
    padding: 5px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}