*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header{
    background-color: #313846;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    color: rgb(255, 255, 255);
}
header a{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px;
    text-decoration: none;
}
header a:hover{
    background-color: #917B49;
}

button{
    padding: 5px;
}

h1, h2{
    color: #000;
    padding: 10px;
}

p{
    color: #000;
    padding: 5px;
}

form{
    color: #000;
    margin: 5px;
}

form p{
    width: 100%;
    display: inline-block;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    border: none;
}
input[type=text], input[type=number], input[type=file], textarea{
    background-color: #EDF2F5;
    margin: 5px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=file]{
    padding: 0;
    cursor: pointer;
}
input[type=file]::-webkit-file-upload-button{
    background-color: #d5d9dc;
    width: 10%;
    margin-right: 15px;
    padding: 8px 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
input[type=submit]{
    background-color: #228B22;
    color: #fff;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s transform;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type=submit]:hover{
    transform: scale(0.9);
}
input[type=submit]:active{
    background-color: #453E30;
}

textarea{
    resize: none;
    font-family: inherit;
}

table{
    table-layout: fixed;
    color: #000;
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead, tbody, td, th{
    padding: 5px;
    overflow-wrap: anywhere;
}

thead tr{
    border-bottom: solid 1px #000;
}

tbody tr{
    border-bottom: solid 0.5px #B2BEB5;
}

button{
    background-color: #b51a1a;
    color: #fff;
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s transform;
}
button:hover{
    transform: scale(0.9);
}
button:active{
    background-color: #453E30;
}

img{
    margin: 5px;
    width: 300px;
    height: auto;
    border: solid 1px #B2BEB5;
}

.panier{
    position: absolute;
    right: 2%;
    font-size: 2em;
}

.caddie{    
    position: absolute;
}

.nombreProduit{
    font-size: 0.60em;
    background-color: #FF7518;
    position: relative;
    padding: 3px 5px;
    left: 15px;
    top: -12px;
    border-radius: 50%;
    opacity: 0.9;
}

.messageAjout{
    display: block;
    background-color: #313846;
    padding: 5px;
    position: absolute;
    top: 70px;
    right: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    opacity: 0;
    transition: opacity 1s;
}
.messageAjout.afficher{
    opacity: 1;
}

.contenu{
    background-color: #fff;
    width: 80%;
    padding: 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.caseQuantite{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.boutonQuantite, .boutonDelete{
    width: 40px;
    font-size: 200%;
    text-align: center;
}


.boutonQuantite{
    border-radius: 50%;
    height: 40px;
}
.boutonQuantite:hover{
    transform: scale();
}
.boutonQuantite.moins{
    background-color: #b51a1a;
}
.boutonQuantite.plus{
    background-color: #228B22;
}

.boutonDelete{
    background-color: #fff;
    color: #b51a1a;
    border: none;
    font-size: 2em;
}

.details{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.texteDetails{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}
.texteDetails h1, .texteDetails h2{
    border-bottom: solid 0.5px #B2BEB5;
}